.footer{
    height: 30vh;
    padding: 5%;
    margin-bottom: 2%;
    font-family:sans-serif;
    position: relative;
    top: 10vh;
}

.columns{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    text-align: left;
}

.columns > .footer-links > p > a{
    text-decoration: none;
    color: black;
}

.columns > .footer-links > p > a:hover {
    cursor: pointer;
    color: gray;
    text-decoration: none;
}